

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Date Checker</title>
</head>
<body>
    <h1>"Hello! It's <%= currentDate %>!</h1> 
</br> 
    <h2><%= advice %></h2>
</body>
</html>


 


    